<template>
  <TodoList :todos="this.todoList" />
</template>

<script>
import TodoList from "@/components/TodoList.vue";
import TodoForm from "@/components/TodoForm.vue";

export default {
  name: "IndexPage",

  async created() {
    await this.$store.dispatch("fetchTodos");
  },

  computed: {
    todoList() {
      return this.$store.getters.getTodos;
    },
  },

  refs: {
    todoForm: TodoForm,
  },

  components: {
    TodoList,
  },
};
</script>
