<template>
  <div>
    <CreateTodoForm></CreateTodoForm>
  </div>
</template>

<script>
import CreateTodoForm from "@/components/CreateTodoForm.vue";

export default {
  components: {
    CreateTodoForm,
  },
  methods: {},
};
</script>

<style>
</style>